/* login */
#login .form-control {
    margin: 10px 0; 
}

.errorEmail {
  color: #FF2401;
  font-size: 12px;
  padding: 10px 0;
}

/*Cadastro*/
.bg-imagem {
    width: 540px;
    border-radius: 8px 0 0 8px;
}

/*Home*/
.text-sidebar {
    font-size: 12px !important;
    padding: 0 10px;
    font-weight: 500;
}

.bg-gradient-primary {
   background-image: linear-gradient(180deg, #002e66 10%, #002e66 100%);
}

.btn-primary {
    color: #ffffff !important;
    background-color: #002e66;
    border-color: #002e66;
    font-size: 14px;
}

.logout {
    padding: 0 30px !important;
    color: #002e66 !important;
    text-decoration: underline !important;
}

/*Editar Intimição*/ 
#justificativa {
    margin: 0 5px;
}

#btn-salvar {
    padding: 0 4px;
}